<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>后台管理</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/admin.css" rel="stylesheet">
    <script src="/js/jquery/jquery-3.5.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container-fluid main">
    <div class="row main-content">
        <div th:replace="/admin/admin-include :: menu"></div>
        <div class="col-lg-10 admin-panel">
            <div th:replace="/admin/admin-include :: nav"></div>
            <div class="jumbotron">
                <h1>To Be ...</h1>
                <p>Ha Ha Ha Ha Ha</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>