

.left-list-title, .left-list-greet{
    padding-left: 15px;
    color: white;
}

.left-list-greet{
    padding-top: 10px;
}


.admin-list{
    background-color: #222d32;
}

.list-group{
    padding-top: 18px;
    background: #222d32;
}

a.list-group-item{
    background: #222d32;
    color: #b8c7ce;
    border: none
}

a.list-group-item:hover{
    background: #1e282c;
    color: #FFFFFF;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover{
    background: #1e282c;
    color: #FFFFFF;
    border-left: solid #00c4ff;
}

.table{
    border-top: solid #00c4ff;
}

html, body, .main, .container-fluid, .admin-panel, .admin-list, .main-content{
    height: 100%;
}

.overview-item{
    /*height: 150px;*/
    /*padding: 10px;*/
}

.overview-item-inner{
    height: 100%;

}

.inner-desp{
    padding: 2px 8px;
}

.inner-desp > h3{
    font-size: 50px;
    color: white;
}

.inner-desp > p{
    font-size: 17px;
    color: white;
}

.overview-item-inner > div > a{
    padding-left: 40%;
    color: white;
    font-size: 15px;
}

.inner-desp-more{
    width: 100%;
    /*background-color: #d6d6d6;*/
    background: rgba(211, 226, 229, 0.6);
}

.inner-desp-icon{
    position: absolute;
    top: 4px;
    right: 25px;
    z-index: 0;
    font-size: 80px;
    color: rgba(0,0,0,0.15);
}


